In [1]:
import pandas as pd, numpy as np
%matplotlib inline

In [2]:
df = pd.read_excel('C:/Users/Peter/Documents/atlas/water/HH Rainfall 2010 to 2018.xlsx','Raw')
#this is a sheet with columns of rain, date for each year

In [3]:
#stack all the date and rain columns

x = [col for col in df.columns if 'date' in col]
y = [col for col in df.columns if 'rain' in col]

df = pd.lreshape(df, {'date': x,'rain': y})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2950 entries, 0 to 2949
Data columns (total 2 columns):
date    2950 non-null datetime64[ns]
rain    2950 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 46.2 KB

In [28]:
df.dtypes

date    datetime64[ns]
rain           float64
dtype: object

In [30]:
#df = pd.wide_to_long(a, ['rain','date'],i='date', j='date')
df.date.dt.weekday_name.head()

0     Tuesday
1      Monday
2      Sunday
3    Saturday
4      Friday
Name: date, dtype: object

In [32]:
df.date.max()-df.date.min()
#so we're missing about 5 dates?

Timedelta('2955 days 00:00:00')

In [37]:
df['doy'] = df.date.dt.dayofyear

In [4]:
def assign_wy(row):
    if row.date.month>=10:
        return(pd.datetime(row.date.year+1,1,1).year)
    else:
        return(pd.datetime(row.date.year,1,1).year)

df['wy'] = df.apply(lambda x: assign_wy(x), axis=1)

In [6]:
df = df[df['wy']==2012]
df

           date  rain    wy
2230 2012-09-30  0.00  2012
2231 2012-09-29  0.00  2012
2232 2012-09-28  0.00  2012
2233 2012-09-27  0.00  2012
2234 2012-09-26  0.00  2012
2235 2012-09-25  0.00  2012
2236 2012-09-24  0.00  2012
2237 2012-09-23  0.00  2012
2238 2012-09-22  0.00  2012
2239 2012-09-21  0.00  2012
2240 2012-09-20  0.00  2012
2241 2012-09-19  0.00  2012
2242 2012-09-18  0.00  2012
2243 2012-09-17  0.00  2012
2244 2012-09-16  0.00  2012
2245 2012-09-15  0.00  2012
2246 2012-09-14  0.00  2012
2247 2012-09-13  0.00  2012
2248 2012-09-12  0.00  2012
2249 2012-09-11  0.00  2012
2250 2012-09-10  0.00  2012
2251 2012-09-09  0.00  2012
2252 2012-09-08  0.00  2012
2253 2012-09-07  0.00  2012
2254 2012-09-06  0.00  2012
2255 2012-09-05  0.00  2012
2256 2012-09-04  0.00  2012
2257 2012-09-03  0.00  2012
2258 2012-09-02  0.00  2012
2259 2012-09-01  0.00  2012
...         ...   ...   ...
2565 2011-10-30  0.00  2012
2566 2011-10-29  0.00  2012
2567 2011-10-28  0.00  2012
2568 2011-10-27  0.00  2012
2569 2011-10-26  0.00  2012
2570 2011-10-25  0.00  2012
2571 2011-10-24  0.00  2012
2572 2011-10-23  0.00  2012
2573 2011-10-22  0.00  2012
2574 2011-10-21  0.00  2012
2575 2011-10-20  0.00  2012
2576 2011-10-19  0.00  2012
2577 2011-10-18  0.00  2012
2578 2011-10-17  0.00  2012
2579 2011-10-16  0.00  2012
2580 2011-10-15  0.00  2012
2581 2011-10-14  0.00  2012
2582 2011-10-13  0.00  2012
2583 2011-10-12  0.00  2012
2584 2011-10-11  0.00  2012
2585 2011-10-10  0.00  2012
2586 2011-10-09  0.00  2012
2587 2011-10-08  0.00  2012
2588 2011-10-07  0.00  2012
2589 2011-10-06  0.02  2012
2590 2011-10-05  0.79  2012
2591 2011-10-04  0.01  2012
2592 2011-10-03  0.01  2012
2593 2011-10-02  0.00  2012
2594 2011-10-01  0.00  2012

[365 rows x 3 columns]

In [44]:
#wy = df.groupby('wy')['rain'].agg('sum')
wy.to_csv('C:/Users/Peter/Documents/atlas/water/HollisterHills_rainfall_by_water_year.csv')